<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Data Investigation with Pandas

## 1.0 Importing our Libraries

In [1]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains information about the 2009 Census - The Rural Urban Population by Age, Sex and District.


*   Dataset link for download or access: [Link](https://drive.google.com/open?id=1pc9ZLFGsosdWBk1lI29ADIqRtCvD_FBe)

In [2]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('/content/Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv')
df

           District Urban/Rural Age_years  ...   County  Province  OBJECTID
0      NAIROBI WEST       Urban         0  ...  Nairobi   NAIROBI         0
1      NAIROBI WEST       Urban         1  ...  Nairobi   NAIROBI         1
2      NAIROBI WEST       Urban         2  ...  Nairobi   NAIROBI         2
3      NAIROBI WEST       Urban         3  ...  Nairobi   NAIROBI         3
4      NAIROBI WEST       Urban         4  ...  Nairobi   NAIROBI         4
...             ...         ...       ...  ...      ...       ...       ...
25415    TESO SOUTH       Rural        77  ...    Busia   WESTERN     25415
25416    TESO SOUTH       Rural        78  ...    Busia   WESTERN     25416
25417    TESO SOUTH       Rural        79  ...    Busia   WESTERN     25417
25418    TESO SOUTH       Rural       80+  ...    Busia   WESTERN     25418
25419    TESO SOUTH       Rural    Age NS  ...    Busia   WESTERN     25419

[25420 rows x 9 columns]

## 1.2 Previewing our Dataset

In [3]:
# Let's preview the first 10 rows of our data
# 
df.head(10)

       District Urban/Rural Age_years   Male  ...  Total   County Province OBJECTID
0  NAIROBI WEST       Urban         0  10126  ...  20242  Nairobi  NAIROBI        0
1  NAIROBI WEST       Urban         1   8124  ...  16113  Nairobi  NAIROBI        1
2  NAIROBI WEST       Urban         2   8462  ...  17089  Nairobi  NAIROBI        2
3  NAIROBI WEST       Urban         3   8334  ...  16754  Nairobi  NAIROBI        3
4  NAIROBI WEST       Urban         4   7948  ...  15768  Nairobi  NAIROBI        4
5  NAIROBI WEST       Urban         5   7547  ...  15207  Nairobi  NAIROBI        5
6  NAIROBI WEST       Urban         6   6966  ...  14048  Nairobi  NAIROBI        6
7  NAIROBI WEST       Urban         7   6511  ...  13185  Nairobi  NAIROBI        7
8  NAIROBI WEST       Urban         8   6171  ...  12660  Nairobi  NAIROBI        8
9  NAIROBI WEST       Urban         9   6361  ...  13023  Nairobi  NAIROBI        9

[10 rows x 9 columns]

## 1.3 Accessing Information about our Dataset

In [4]:
# We can getting to know more about the dataset by accessing its information 
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25420 entries, 0 to 25419
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     25420 non-null  object
 1   Urban/Rural  25420 non-null  object
 2   Age_years    25420 non-null  object
 3   Male         25420 non-null  int64
 4   Female       25420 non-null  int64
 5   Total        25420 non-null  int64
 6   County       25420 non-null  object
 7   Province     25420 non-null  object
 8   OBJECTID     25420 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [5]:
df['Age_years'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80+', 'Age NS'], dtype=object)

In [6]:
df['Age_years'].replace('80+',81,inplace= True)

In [7]:
df['Age_years'].replace('Age NS',0,inplace= True)

In [8]:
df['Age_years'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', 81, 0], dtype=object)

In [9]:
df['Age_years']=df['Age_years'].astype(int)

In [10]:
# Challenge 1
# What was the average age of a person of Kenya?
#
df['Age_years'].mean()

39.52439024390244

In [11]:
# Challenge 2
# What was the average female population in Kenya?
#
df['Female'].mean()

763.8725019669552

In [12]:
# Challenge 3
# What was the average male population in Kenya?
#
df['Male'].mean()

755.0140833988985

In [13]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
#
df.groupby('District')['Total'].sum().sort_values(ascending=False).iloc[:5]

District
NAIROBI EAST     1144416
NAIROBI NORTH    1062086
NAIROBI WEST      684765
SIAYA             550224
MOLO              542103
Name: Total, dtype: int64

In [36]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
# 
df.groupby('County')['Total'].sum().sort_values(ascending=False).iloc[:5]

County
Nairobi     3138369
Kiambu      1673785
Kakamega    1660651
Nakuru      1603325
Meru        1591533
Name: Total, dtype: int64

In [34]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
# 
df.groupby('District')['Total'].sum().sort_values(ascending=True).iloc[:5]

District
LAIKIPIA NORTH    32762
GARBATULLA        43118
MARSABIT          46502
SAMBURU EAST      59094
SAMBURU NORTH     59801
Name: Total, dtype: int64

In [31]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
# 
#df.groupby('District')['Total'].mean().sort_values(ascending=False).iloc[:5].sum()
df.loc[df['County']=='Nairobi','Total'].mean()

9568.198170731708

In [37]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
# 
df.loc[df['County']=='Lamu','Total'].mean()

619.140243902439

In [18]:
# Challenge 9
# What was the total population of Busia County? 
# 
filt = df['County'] == 'Busia'
df.loc[filt]['Total'].sum()

743946

In [19]:
# Challenge 10
# What was the average age of person in Busia County? How many people of this age were in Busia County?
# 
filt = df['County'] == 'Busia'
df.loc[filt]['Age_years'].mean()

39.52439024390244

In [20]:
# Challenge 11
# What was the Total population of Teso South District?
# 
filt = df['District']=='TESO SOUTH'
df.loc[filt]['Total'].sum()

137924

In [21]:
# Challenge 12
# What was the urban population of Teso South District?
# 
filt = (df['District']=='TESO SOUTH') & (df['Urban/Rural']=='Urban')
df.loc[filt]['Total'].sum()

26162

In [22]:
# Challenge 13
# What was the rural population of Teso South District?
# 
filt = (df['District']=='TESO SOUTH') & (df['Urban/Rural']=='Rural')
df.loc[filt]['Total'].sum()

111762

In [23]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
#
filt = df['Age_years']>60
df.loc[filt]['Total'].sum()

1688617

In [24]:
# Challenge 15 
# What was the urban population in Kenya?
#
filt = df['Urban/Rural']=='Urban'
df.loc[filt]['Total'].sum()

12487375